/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  padding: 2% 8%;
}


/******************************************
/* LAYOUT
/*******************************************/
header nav *{
  float: left;
}
header nav img{  
  width: 5%;
}
header nav ul{
  list-style: none;
  padding-left: 45%;
  width: 95%;
}
header nav ul li{
  margin-left: 3%;
  margin-right: 3%;
}
header nav button{
  margin-left: 2%;
}

main{
  clear: both;
  width: 100%;
  height: 400px;
}
main > *{
  float: left;
  width: 50%;
  padding: 5% 15% 0 0;
}

.firstpage{
  clear: both;  
  height: 400px;
}
.firstpage section{
  float: left;
  width: 50%;
}
.firstpage .left{
  padding-right: 15%;
}
.firstpage .right{
  padding-left: 5%;
}
.firstpage .right section{
  padding-bottom: 5%;
}
.secondpage{
  clear: both;  
  height: 400px;
}
.secondpage > *{
  float: left;
  width: 50%;
}
.thirdpage{
  clear: both;  
  height: 400px;
}
.thirdpage .upper{
  text-align: center;
}
.thirdpage img,
.thirdpage .lower{
  float: left;
  width: 50%;
}
.thirdpage ul{
  list-style-type:square;
}
.thirdpage button{
  margin-left: 40%;
}
footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
