/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header nav *{
  float: left;
  margin: 1% 0;
}
header nav ul{
  list-style: none;
}
header nav ul li{
  padding: 5px;
}
header nav button{
  float: right;
}

main{
  clear: both;
}
main > *{
  float: left;
  width: 50%;
}

main + section{
  clear: both;
}




footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
