About us:














<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="This is where your description goes">
    	<meta name="keywords" content="one, two, three">

		<title>CEABOPPL</title>
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400">
		
		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<header>
			<h1> CEABOPPL.com.au</h1>
			<nav>
				<ul>
					<li><a href="index.html">HOME</a></li>
					<li><a href="teams.html">TEAMS</a></li>					
				</ul>				
				<form action="#">
					Search<input type="text">
				</form>
			</nav>
		</header>		

		<main>
			<p>CEABOPPL is a Proprietary Limited company incorporated 16 September 2021, for the sole purpose of raising money from the Australian public, to pay for the plant & equipment required to take climate action.</p>
      <p>No more committee’s and reports, the technology is here now! Energy harvested from the sun, can be used to split the 2 hydrogen molecules and the oxygen molecule, in water. The stored hydrogen can be released through “fuel cells” – after the sunsets or on rainy days – to supply zero-emission electricity and zero-emission fuel for transport, every hour of everyday, of every week, of every year.</p>
      <p>For full disclosure, the Director of CEABOPPL manufacture Proton Exchange Membrane (PEM) water electrolysers and containerised balance-of-plants, which produce green hydrogen and zero-emission electricity.</p>
      <p>According to the Climate Change Council, carbon emissions – from the generation of electricity in Australia – account for 33% of Australia’s total carbon emissions.</p>
      <p>According to the University of Wollongong, carbon emissions – from the transport sector in Australia – account for 17.9% of Australia’s total carbon emissions.</p>
      <p>You don’t have to rely on the State or Federal Governments to do it for you. Concerned Citizens can invest a few dollars so Town’s can generate their own zero-emission electricity and zero-emission fuel for transport; So Suburbs can generate their own zero-emission electricity and zero-emission fuel for transport.</p>
      <p>Decades before 2050.</p>
		</main>

		<footer>
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="aboutus.html">About us</a></li>
				<li><a href="#">Contact Us</a></li>
				<li><a href="#">Privacy Statement</a></li>
				<li><a href="#">Sponsor</a></li>
			</ul>
		</footer>

		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>