<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="This is where your description goes">
    	<meta name="keywords" content="one, two, three">

		<title>CEABOPPL</title>
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400">

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<header>
			<h1> CEABOPPL.com.au</h1>
			<nav>
				<ul>
					<li><a href="index.html">HOME</a></li>
					<li><a href="teams.html">TEAMS</a></li>					
				</ul>				
				<form action="#">
					Search<input type="text">
				</form>
			</nav>
		</header>		

		<main>
			<p>I, 
				<form action="#"><input type="text" placeholder="please type your name"></form> , 
				petition our local Council / Shire, to apply to the Australian Renewable Energy Agency for 50% grant funding, 
				so our Council / Shire can produce zero-emission electricity & zero-emission fuel for transport, 
				for ALL the citizens & businesses in
				<form action="#"><input type="text" placeholder="please type your City / Town / Suburb"></form>
				. Thank you.</p>
			
			
			<form action="#">Send To
				<input type="text" placeholder="please enter 0412-240-628">
			</form>

			<button>Send</button>
		</main>

		<footer>
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="aboutus.html">About us</a></li>
				<li><a href="#">Contact Us</a></li>
				<li><a href="#">Privacy Statement</a></li>
				<li><a href="#">Sponsor</a></li>
			</ul>
		</footer>

		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
