<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="This is where your description goes">
    	<meta name="keywords" content="one, two, three">

		<title>CEABOPPL</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<header>
			<h1>Teams</h1>
			<nav>
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="teams.html">Teams</a></li>
				</ul>
			</nav>
		</header>		

		<main></main>

		<footer>
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="aboutus.html">About us</a></li>
				<li><a href="#">Contact Us</a></li>
				<li><a href="#">Privacy Statement</a></li>
				<li><a href="#">Sponsor</a></li>
			</ul>
		</footer>

		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
