h1{
  padding: 0 10px 10px 10px;
  margin-top: 20px;
  background-color: purple;
  color: lightblue;
}

h2{
  padding: 40px 0;
  border-top: 5px solid green;
  border-bottom: 5px solid green;
  background-color: orange;
}

section{
  border: 10px solid blue;
  height: 300px;
  margin-top: 400px;
}

span{
  border: 3px solid yellow;
  padding: 10px;
  margin: 10px;
}