*{
    background-color: lightskyblue;
    color: white;
}
section{    
    border: 5px solid rgb(11, 184, 11);
    padding: 50px;
    margin: 20px;
}
h1{
    font-style: italic;
}
h2{
    font-weight: bold;
}
img{
    width: 220px;
    height: 300px;
}
aside{    
    float: right;
}
p{
    font-size: 20px;
}
header ul li{
    display: inline;
}
footer ul li{
    display: inline;
}
