body{
    background-color: rgb(135, 206, 235);
    border: 5px solid rgb(72, 205, 49);
    padding: 50px;
    margin: 30px;
}
h1{
    font-style: italic;
    text-align: center;
    color: white;
}
header{
    text-align: center;
}
a{
    color: rgb(72, 205, 49);
}
header ul li, footer ul li{
    display: inline;
    font-weight: bold; 
    color: white;
}
.separator{
    color: rgb(128, 136, 139);
}
h2{
    font-weight: bold;
    color: white;
}
img{
    width: 220px;
    height: 300px;
}
aside{    
    float: right;
}
p{
    font-size: 20px;
    color: rgb(234, 236, 237);
}
footer{
    text-align: center;
}
