body{
  box-sizing: border-box;
  padding: 2%;
}
header,
main{
  background-color: #66768a;
  color: white;
}
header{
  height: 50px;
  padding-top: 25px;
}
main{
  height: 500px;
  clear: both;
  padding: 100px 10% 0 10%;
}
header *{
  float: left;
  display: inline;
  color: white;
  margin-right: 2%;
}
header img{
  margin-left: 40%;
  margin-right: 30%;
  width: 10%;
}
main *{
  text-align: center;
}
h1{
  font-size: 90pt;
  font-stretch:narrower;
}
.why{
  text-align: center;
  height: 300px;  
  clear: both;
  padding: 100px 20% 0 20%;
}
.twoSection{
  padding: 7% 10% 0 10%;  
  height: 600px;
  background: #dbdfe2;
}
.twoSection section{
  float: left;
  width: 50%;
  text-align: center;
}
.twoSection section section{
  background-color: #66768a;
  height: 250px;
  width: 400px;
  margin: 10% 20%;
}
.lastSection{
  clear: both;
  text-align: center;
}
footer{
  background-color: #161f2a;
  height: 250px;
}
footer *{
  color: white;
}
footer h5{
  color: #66768a;
}
.left{  
  float: left;
  width: 80%;
}
.right{
  float: right;
  width: 13%;
}
footer p{
  color: #dbdfe2;
  clear: both;
  padding-top: 20px;
}
