/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/

/**************header**********************/
header{  
  background-color: #66768a;
  padding-top: 10px;
  height: 40px;
}
header nav *{
  background-color: #66768a;
  color: white; 
  float: left;
}

header nav ul{
  margin: 0px;  
  width: 17%;
}
header nav img{
  padding-left: 30%;
  width: 30%;
}
header nav button{
  float: right;
  background-color: white; 
  color: #66768a;
  width: 10%;
}

header nav ul li{
  float: left;
  list-style: none; 
  padding: 0 5%;
}


/**************big-1-section**********************/
.big-1{
  clear: both;
  background-color: #66768a;
  color: #ffffff;
  text-align: center;
  padding: 10% 10%;
}
/**************small-section**********************/
.small{
  clear: both;
  background-color: #ffffff;
  color: #35393c;
  text-align: center;
  padding: 10% 20%;
}
/**************big-2-section**********************/

.big-2 > section{
  background-color: #dbdfe2;
  color: #212934;
  text-align: center;
  padding: 60px 10%;
  float: left;
  width: 50%;
}

.picBox{
  border: 1px solid gray;
  background-color: #66768a;
  height: 200px;
}

/**************footer**********************/
footer {
  background-color: #212934;
  color: #ffffff;
}

footer h5{
  color: #627285;
}

footer h4{
  float: right;
  color: black;
}

/**************anchor tag**********************/
a{
  text-decoration: none;
  color: #212934;
}
.big-1 a{
  color: #212934;
}
footer a{
  color: #ffffff;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
