body *{
  border: 1px solid gray;
  box-sizing: border-box;
}

header, footer{
  height: 120px;
  clear: both;
}

section{
  height: 160px;
  float: left;
  width: 33.3333%;
}

.bottom{
  height: 200px;
  float: left;
  width: 50%;
}