/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header {
  
}

main{
  padding: 0 10%;
}

a{
  text-decoration: none;
  color: black;
}
.leftlist{
  float: left;
}
.rightlist{
  float: right;
}

li{
  list-style: none;
  display: inline;
  margin: 5px;
}
img{
  float: left;
  padding: 50px 10px;
}
h1{
  padding: 10% 10px 0 10px;
}
h3{
  text-align: center;
}
.mainImage,
.mainContent{
  width: 50%;
}
.mainContent{
  float: left;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
