/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}
/*******************header: ************************/
header{
  display: flex;
}
header nav{
  display: flex;
  width: 90%;
}
/*******************header: for li horizontal expansion************************/
header nav a{
  padding-left: 2%;
}
header nav ul{
  display: flex;
  list-style:none;
  flex-basis: 80%;
  justify-content: space-around;
}

/******************main: to flex everything*************************/
main{
  display: flex;  
  justify-content: space-around;
}
/********************main: giving width to both half and quarters***********************/
.rightHalf,
.leftHalf,
.fourth{  
  flex-basis: 50%;
}
.rightHalf{
  display: flex; 
  justify-content: space-around;
  flex-wrap: wrap;
}

/******************lower: to flex everything*************************/
.lower{
  display: flex;
}
.oneThird{
  flex: 1;
}
/******************************************
/* LAYOUT
/*******************************************/
.leftHalf{
  background-image: url("../img/peace_deal.jpg");
  background-size: contain;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/