*{
    box-sizing: border-box;
}

header, footer{
    height: 50px;
    border: 1px solid gray;

    clear: both;
}
.top{
    height: 80px;
    border: 1px solid gray;
}
.bot{
    float: left;
    border: 1px solid gray;
    height: 100px;
    width: 50%;
}