/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
main{
  text-align: center;
  background-color: lightgray;
  padding: 4px 0;
}

section{
  margin: 5% 10%;
  padding: 3% 5% 5% 5%;
  background-color:lightgray;
}

section form{
  padding-bottom: 3%;
}

section input{  
  width: 100%;
}

section button{
  width: 100%;
  background-color: black;
  color: aliceblue;
  padding: 1%;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
