/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
section{
  display: flex;
}
img{
  flex: 1;
  margin: 0 auto;
  height: 200px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
