/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body > *{
  padding: 2% 10%;
}


/******************************************
/* LAYOUT
/*******************************************/
header nav *{
  float: left;
}
header nav ul{
  padding-left: 30%;
  margin-top: 0;
  width: 70%;
}
header nav button{
  float: right;
}
header nav ul li{
  list-style: none;
  padding-left: 5%;
  padding-right: 5%;  
}

main{
  clear: both;
  height: 500px;
  background: #f5f9fc;
}
main > *{
  float: left;
  width: 50%;
}
header,
.subsection{
  background-color: #f5f9fc;
}
.subsection > section{
  float: left;
  width: 25%;
}
a{
  text-decoration: none;
  color: black
}
.page-2{
  clear: both;
  padding-right:0;
  float: left;
  width: 50%;
}
footer {

}
h1, h2, h3, p{
  font-family: 'Noto Sans', sans-serif;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
