/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  padding: 2% 5% ;
}


/******************************************
/* LAYOUT
/*******************************************/
header nav{
  padding-left: 10%;
  width: 80%;
}
header nav ul li{
  display: inline;
  padding-left: 10%;
}

header button{
  float: right;
}
main{
  clear: both;
  padding-top: 5%;
}
main > *{
  float: left;
  width: 50%;
}
main section{
  padding-left: 5%;
  padding-top: 5%;
}
.lower section{
  float: left;
  width: 25%;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
@media screen and (max-width: 600px) {
  header nav,
  header button{
    display: none;
  }
  header img{
    padding-left: 40%;
  }
  main button,
  main input{
    width: 50%;
    margin-bottom: 2%;
  }
  main section,
  main img{
    width: 100%;
  }
  .lower{
    display: none;
  }
}