/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {

}


/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

.container1 section,
.container2 section,
.container3 section
{
  border: 1px solid gray;
}

.fItem1{
  flex:1;
  order: 1;
}
.fItem2{
  flex:1;
  order: 2;
}
.fItem3{
  flex:1;
  order: 3;
}

.container2 section{
  flex-basis: 27%;
}

.container3{
  display: flex; 
  flex-wrap: wrap;
}

.container3 section{
  flex-basis: 17%;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
@media (min-width:786px) {
  .container1,
  .container2{
    display: flex;  
    align-items: stretch;
  }
  .container2{    
    justify-content:space-around;
  }
}