h1{
  padding: 0 15px 15px 15px;
  margin-top: 35px;
  background-color: purple;
  color: lightblue;
}

h2{
  padding: 20px 0;
  border-top: 3px solid green;
  border-bottom: 3px solid green;
  background-color: orange;
}

section{
  border:5px solid blue;
  height:300px;
  margin-top:401px;
}

span{
  border: 1px solid yellow;
  padding: 50px;
  margin: 50px;
}