/*
  ========================================
  Grid
  ========================================
*/
*{
  box-sizing: border-box;
}
.container{
  width: 960px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
nav h4{
  display: inline;  
}
.col-1-3{
  width: 33.33%;
}
.col-2-3{
  width: 66.66%;
}
.col-1-3,
.col-2-3{
  display: inline-block;
  vertical-align: top;
}
.grid,
.col-1-3,
.col-2-3{
  padding-left: 15px;
  padding-right: 15px;
}
/*
  ========================================
  Clearfix
  ========================================
*/
.group:before,
.group:after{
  clear: both;
}
.group{
  clear: both;
  *zoom: 1;
}
.logo{  
  border-top: 4px solid #648880;
  padding-top: 40px 0 22px 0;
  float: left;
}
small{
  float: left;
}
/*
  ========================================
  Primary footer
  ========================================
*/
.primary-footer{
  padding-bottom: 44px;
  padding-top: 44px;
}
/*
  ========================================
  Typography
  ========================================
*/
h1, h3, h4, h5, p {
  margin-bottom: 22px;
}
/*
  ========================================
  Buttons
  ========================================
*/
.btn{
  border-radius: 5px;
  display: inline-block;
  margin: 0;
}
.btn-alt{
  border: 1px solid gray;
  padding: 10px 30px;
}
/*
  ========================================
  Home
  ========================================
*/
.hero{
  padding: 22px 80px 66px 80px;
}